.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    @media (min-width:950px) {
        padding-top: 0px;
        position: absolute;
        width: 90%;
        background:  #e1e1e1;
        mix-blend-mode: multiply;
        z-index: 1;
        left: 5%;
        height: 80px;
    }
}