.main-menu > .items{   
    position: absolute;
    background: rgba(51, 51, 51, 0.989);
    width: 100%;
    height: 100%;
    transition: transform 200ms linear;
    transform: translateX(100%);
    left: 0;
    top: 0;
    text-align: center;
    padding: 80px 0 0px 0;
    font-size: 1.176em;
    z-index: 2;
}
.main-menu > .menu{
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    background: url('../../../img/menu.svg') no-repeat
    ;
    display: block;
    background-size: cover;
    color: white;
    position: relative;
    left: 70%;
}
.items.-isActive{
    transform: translateX(0%);
}
.main-menu > .items > .item{
    padding: 20px;
    border: solid 1px #933;
    & .action{
        color: $colorwhite;
    }
}
.main-menu > .items{
    > .close{
        display: block;
        text-indent: -9999px;
        border: 2px solid $colorwhite;
        position: absolute;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        right: 5%;
        top: 20px;

        &::before{
            content: '';
            display: block;
            position: absolute;
            width: 20px;
            height: 3px;
            background: $colorwhite;
            transform: rotate(-50deg);
            bottom: 16px;
            left: 9px;
        }
        &::after{
            content: '';
            display: block;
            position: absolute;
            width: 20px;
            height: 3px;
            background: $colorwhite;
            transform: rotate(50deg);
            bottom: 16px;
            left: 9px;
        }
    }
}